@import url(../base/style.css);

html {
/*  background-color: #204A87 ;*/
  background-color: #eceff6;
}

body {
  background-color: #eceff6;
/*  background: url(images/buracos-grad.png) repeat-x;*/
  width: auto;
}

#wrap-1 {
  width: 960px;
  margin: auto;
  padding-top: 1px;
}

#wrap-2 {
  border: none;
}

#content {
  margin-top: 98px;
}

#site-title {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: -21px;
  left: -44px;
  width: 500px;
  height: 153px;
  z-index: 2;
}

#navigation {
  position: absolute;
  top: 45px;
  right: 8px;
  width: auto;
  height: 59px;
  text-align: right;
  background: #2b5896 url(images/top-menu-bg.png) repeat-x;
}

#navigation-end {
  position: absolute;
  top: -1px;
  right: -33px;
  width: 33px;
  height: 70px;
  background: url(images/top-menu-dobra.png);
}

#navigation ul {
  height: 59px;
  background: url(images/top-menu-ponta.png) no-repeat;
  padding-left: 42px;
  float: none;
}

#navigation .menu-submenu ul {
  background: #4462A1;
  height: auto;
  padding-left: 0;
  border-color: #fff;
}

#navigation .menu-submenu a {
  border-right: 1px solid #fff;
}

#navigation li .menu-submenu-trigger {
  border-color: #fff;
  background-color: #4462A1;
  background-image: url(images/down-arrow-light.png);
}

#navigation li:hover .menu-submenu-trigger:hover {
  background-color: #324885;
}

#navigation li {
  border: none;
  margin-top: 4px;
}

#navigation a {
  border-left-color: transparent;
  color: #145d7b;
}

#navigation a:hover {
  background: #324885;
}

#site-title a {
  top: 0px;
  left: 0px;
  overflow: hidden;
  display: block;
  width: 500px;
  height: 153px;
  background: url(images/logo.png) 50% 0% no-repeat;
}

#theme-footer {
  background: url(images/foter-sombra.png) 50% 0% no-repeat;
  min-height: 100px;
}

#theme-footer a,
#theme-footer a:hover {
  /*color: #fff;*/
  color: #145d7b;
}

#copyright p {
  margin-top: 0;
}

#footer-content {
  width: 960px;
  margin: auto;
  padding: 15px 0px;
  opacity: 0.7;
/*  color: #FFF;*/
  color: #145d7b;
  font-size: 12px;
}
